@import url(http://fonts.googleapis.com/css?family=Convergence|Fjord+One);


h1, h2, h3, h4 {
  font-size: 18px;
  font-family: 'Convergence', sans-serif;
  text-transform: uppercase;
}

a {
  color: #bf0000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  position: relative;
  top: 1px;
}

body{
  font: 16px/1.5 'Fjord One', sans-serif;
  color: #444;
  background-color:#eeeeee;
}

p {
    font-family: 'Fjord One', serif; 
    margin-left: 20px;
}

hr { 
    border: 0; 
    width: 80%; 
    right: 10%;
    background-color: #a32638; 
    height: 4px;
    position:relative;
}


#chart_div {
    width: 900px; 
    height: 500px;
}

#title{
    font-family: 'Convergence', sans-serif;
    line-height: 1.35;
    font-size: 40px; 
    margin:2% 2% 3% 3%;
}

#title sup{
    font-size: 15px; 
    position:relative;
    top: -10px;
    left: -12px;
    color: #666;
}

#footer{
    background-image: 
    url(https://developers.tradeking.com/images/logos/PB-TK-small-Blue.gif),
    url(https://developers.google.com/appengine/images/appengine-silver-120x30.gif),
    url(http://docs.scipy.org/doc/_static/scipyshiny_small.png),
    url(http://octodex.github.com/images/original.jpg),
    url(http://www.stevens.edu/press/graphics/apparel-logo/Stevens-Apparel-Color-Preview.jpg);
    background-repeat:no-repeat;
    background-position:42% 100%, 62% 100%, 70% 100%, 75% 100%, 80% 100%;
    height:35px;
    background-size:contain;
    font-family: 'Fjord One', serif;
    margin-left:5%
}

.latex { vertical-align: middle;} /*default styling for latex imgs */
.bordered { border: 1px solid red;}
.block { display: block; margin-left:30%;}
