@import url("http://fonts.googleapis.com/css?family=Berkshire+Swash|Averia+Libre:300,400");


p {margin-left:20px;}
table,td,th {border:1px solid black;}

#main { 
    width: 100%;
    margin: 0 auto;
}
#left    {
    width: 50%;
    float: left;
}

#right  {
    width: 50%;
    margin-left: 50%;
}

h1 { font-family: 'Berkshire Swash', cursive; font-weight: 400; font-size:300% }
h2 { font-family: 'Berkshire Swash', cursive; font-weight: 400; font-size:205% }
hr { border: 0; width: 80%; right: 10%;
	 background-color: #a32638; height: 4px; position:relative}
p {font-family: 'Averia Libre', cursive; font-weight: 400; font-size: 105%}

#chart_div {
    width: 900px; 
    height: 500px;
}