<html> 
<head> 
	<title> Xingzhong </title>
	{{head}}
</head> 
<body>
	<div id='topbar'>
		<p> 
			<a href="http://blog.sirxu.com">Visit Blog</a>
			<a href="http://www.sirxu.com">Xingzhong 2012</a>
			<a href="http://www.sirxu.com">{{version}}</a>
		</p>
	</div>
	<div id="title">Xingzhong Space <sup>alpha</sup> </div><hr>
	<p>This is Xingzhong Xu from Stevens Institute of Technology.
	I am currently a Ph.D Candidate in Prof. Hong Man's research group.</p>
	<h2> Research </h2> <hr>
	<p>
	My academic research mainly focuses on:
	<ul>
	<li><p>
	semantic signal processing - Next generation radio signal representation. </p>
	<li><p>
	data mining towards programming language - Deeply understand the programming source code </p>
	</ul>
	<p> I also do researches on: </p>
	<ul>
		<li> <p> state-of-art open-source software/system design. </p> </li>
		<li> <p> quantitative investment (I do my independent quantitative research on equities & options). </p> </li>
	</ul> 
	<h2> Projects On-going </h2> <hr>
	<ul>
	<li><p>
	SSP-Analyzer (Compiler Front-End based on clang)	
	</p>
	<li><p>
	GNU-Radio Wrapper (gr-ssp)
	</p>
	<li><p>
		<a href="./portfolio">Portfolio</a> - Check your portfolio sharp ratio
	</p>
	<li><p>
		<a href="./twitter">Twitter Toy</a> - mutual friends & real-time trend analysis. 
	</p>
	<li><p>
		<a href="./kalman">Kalman Filter</a> - Apply Kalman Filter in Financial Time Series (Final Project for EE616 Signal Detection & Estimation) 
	</p>
	</ul>
	<p>As a technology geek, the following technologies are always in subscription list:</p>
	<ul>
		<li><p> Python and julia </p></li>
		<li><p> GPGPU (CUDA and OpenCL)</p></li>
		<li><p> aws and Google App Engine </p></li>
		<li><p> BigData Analysis </p></li>
		<li><p> MapReduce  </p></li>
	</ul>
	<h2> Working Experiences </h2> <hr>
	<ul>
	<li><p>
	I work as a Teaching Assistant for E115 Intro to C++
	Programming in Dept. ECE during fall semesters. </p></li>
	<li> <p>
	I work as a Research Assistant in Dept. ECE during spring semesters. </p></li>
	</ul> 
	<h2> Education </h2>
	<hr>
	<ul>
	<li> <p>
	Ph.D student in Electrical Engineering  at Stevens Institute of Technology,
	Hoboken, NJ, USA, since 2011. </p> </li>
	<li> <p>
	Master of Eng. in Electrical Engineering at Stevens Institute of Technology,
	Hoboken, NJ, USA, 2009 - 2011.</p> </li>
	<li> <p>
	Bachelor of Engineering in Communication at Beijing Jiaotong University, Beijing,
	China, 2005 - 2009. </p> </li>
	</ul>
	<h2> Contact </h2> <hr>
	<ul>
	<li> <p> xxu7@stevens.edu </p> </li>
	<li> <p> Burchard 200, Stevens Institute of Technology, Hoboken, NJ,
	07030 </p></li>
	</ul>
	<hr>
	<div id="footer">Xingzhong 2012</div>
	<script src="http://gitforked.com/api/1.1/button.js" type="text/javascript"></script>
</body>
</html>