<html>
<head>
{{head}}
<script type="text/javascript" src="../static/portfolio.js"></script>
</head>
<body>
	
	<div id="title">Portfolio Final Project</div><hr>
	
	<form action="portfolio_report" method="post">
		<p> Enter your portfolio below </p> 
		<table id="one-column-emphasis" >
			<colgroup>
		    	<col class="oce-first" />
		    </colgroup>
		    <thead>
		    	<tr>
		        	<th scope="col">symbol</th>
		            <th scope="col">share</th>
		            <th scope="col">time</th>
		            <th scope="col">action</th>
		        </tr>
		    </thead>
		    <tbody>
			<tr>
				<td>
					<input type="text" name="symbol" value='AAPL'/>
				</td>
				<td>
					<input type="text" name="share" value='100'/>
				</td>
				<td>
					<input type="text" name="time" value='20120210'/>
				</td>
				<td>
					<input type="button" value="add one" onClick="addOneLine(this.form)">
				</td>
			</tr>
			</tbody>
		</table>
		<p>I remain <input type="text" name="cash" value="100000" /> $ for risk-free investment.</p>
		<input type="button" value="submit all" onClick="submitAll(this.form)">
		<p> or directly pre-load Xingzhong's FE-630 Portfolio. </p>
		<input type="button" value="Xingzhong's FE-630 Portfolio" onClick="preload2(this.form)">
	</form> 
	<hr>
	<div id="footer">Xingzhong 2012</div>
</body>
</html>