<html>
<head>
{{head}}
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
	
	var data = new google.visualization.DataTable();
	data.addColumn('datetime', 'Time');
	data.addColumn('number', 'Model-VIX');
	data.addColumn('number', 'Real-VIX');
	data.addRows([
		{% for vix in vixs %}
			[new Date({{vix.marketTime.year}},{{vix.marketTime.month}},{{vix.marketTime.day}},{{vix.marketTime.hour}},{{vix.marketTime.minute}},{{vix.marketTime.second}}), {{vix.quoteModel}}, {{vix.quoteReal}}],
		{% endfor %}
		]);
	var options = { 
		title: 'VIX'
	};
	var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	chart.draw(data, options);
  }
</script>
</head>
<body>
	<h1> vix model </h1> <hr>
	<p> Model: {{quote}}  </p>
	<p> Real : {{real}}	  </p>
	<p> Market: {{now}}	  </p>
	<p> Process: {{costT}}s   </p>
	<div id="chart_div"></div> <hr>
	<center><table> 
		<tr>
			<th>  </th> <th> near </th> <th> next </th>
		</tr>
		<tr>
			<td> Maturity Time </td> <td> {{near}} </td> <td> {{next}} </td> 
		</tr>
		<tr>
			<td> Risk-free Rate </td> <td> {{nearRate}} </td> <td> {{nextRate}} </td> 
		</tr>
		<tr>
			<td> F </td> <td> {{nearF}} </td> <td> {{nextF}} </td> 
		</tr>
		<tr>
			<td> K </td> <td> {{nearK}} </td> <td> {{nextK}} </td> 
		</tr>
		<tr>
			<td> sigma </td> <td> {{nearSigma}} </td> <td> {{nextSigma}} </td> 
		</tr>
		<tr>
			<td> Time </td> <td> {{nearT}} </td> <td> {{nextT}} </td> 
		</tr>
		<tr>
			<td> Call Sigma </td> <td> {{nearCSigma}} </td> <td> {{nextCSigma}} </td> 
		</tr>
		<tr>
			<td> Put Sigma </td> <td> {{nearPSigma}} </td> <td> {{nextPSigma}} </td> 
		</tr>
	</table></center>
	<hr>
<div id="main">
	<div id="left">
	<center><table>
		<tr> 
			<th> Strike </th> <th> Call Bid </th> <th> Call Ask </th> <th> Put Bid </th> <th> Put Ask </th> <th> Middle-Quote </th> <th> Contribution </th>
		</tr>
		{% if nearChain is none %}
		{%else%}
		{% for c in nearChain %}
		{% if c['strk'] == nearK %}
			<tr bgcolor="gray">
		{% else %}	
			<tr>
		{% endif %}
			<td> {{c['strk']}} </td>
			<td> {{c['callBid']}} </td>
			<td> {{c['callAsk']}} </td>
			<td> {{c['putBid']}} </td>
			<td> {{c['putAsk']}} </td>
			<td> {{c['price']}} </td>
			<td> {{c['contr']}} </td>
		<tr>
		{% endfor %}
		{% endif %}
	</table></center>
	</div>
	<div id="right">
	<center><table>
		<tr> 
			<th> Strike </th> <th> Call Bid </th> <th> Call Ask </th> <th> Put Bid </th> <th> Put Ask </th> <th> Middle-Quote </th> <th> Contribution </th>
		</tr>
		{% if nextChain is none %}
		{%else%}
		{% for c in nextChain %}
		{% if c['strk'] == nextK %}
			<tr bgcolor="gray">
		{% else %}	
			<tr>
		{% endif %}
			<td> {{c['strk']}} </td>
			<td> {{c['callBid']}} </td>
			<td> {{c['callAsk']}} </td>
			<td> {{c['putBid']}} </td>
			<td> {{c['putAsk']}} </td>
			<td> {{c['price']}} </td>
			<td> {{c['contr']}} </td>
		<tr>
		{% endfor %}
		{% endif %}
	</table></center>
	</div>
	</div>
</body>
</html>